<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Softeck</title>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">Codellege Softeck</h1>
        <p class="lead">Aplicacion de Usuarios</p>
        <hr class="my-4">
        <p>Bernardo Paredes de santos</p>
    </div>
    <div class="alert alert-primary" role="alert">
        No copriring porfa jaja
    </div>
</body>

</html>