<h2>Todos los usuarios</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th class="text-center">Avatar</th>
            <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuario">
            <td class="text-center">
                <img src="{{usuario.avatar}}" alt="Profile {{usuario.id}}">
            </td>
            <td class="text-center">
                {{usuario.id}}
            </td>
            <td class="text-center">
                {{usuario.first_name}} {{usuario.last_name}}
            </td>
            <td class="text-center">
                {{usuario.email}}
            </td>
        </tr>
    </tbody>
</table>